@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
body{
    width: 100%;
    height: 100%;
}
*{
    box-sizing: border-box; 
    margin:0;
    padding:0;
    font-family: 'poppins';
    
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #fff;
        /* height: 80px; */
        
    } 
    header img{
       width: 15%;
       height: 15%;
       margin-top: 10px;
       margin-left: 70px;
    }
    .btn-language{
        margin-right: 18%;
        margin-top: 30px;
        margin-left: 5px;
    }
    button.active{
        width:50px;
        height: 40px;
        border-radius: 10px;
        border:1px solid #711A50;
        margin-right: 15px;
        background-color: #711A50;
        color: #fff;
        font-weight: 500;
    }
    .btn-l {
    width:50px;
    height: 40px;
    border-radius: 10px;
    border:1px solid #711A50;
    margin-right: 15px;
    background-color: #fff;
    }
    .btn-l-1 {
    width:50px;
    height: 40px;
    border-radius: 10px;
    border:1px solid #711A50;
    background-color: #fff;
    }
    /* le header prends fin ici */
    .section-boost{
        display:flex;
        flex-direction: row;
        background-color: #FFEAC5;
        height: 500px;
      
    }
    .booster{
        width: 45%;
        margin-left: 100px;
        margin-top: 40px;
        margin-right: 100px;
        /* line-height: 60px; */
    }
    .booster h1{
        color: #711A50;
        font-size: 60px;
    }
    .start{
        color: #711A50;
        font-size: 40px;
        font-weight: 600;
        line-height: 12px;
    }
    .start2{
        color:#711A50;
        font-size: 40px;
        margin-top: -20px;
        font-weight: 600;
        
    }
    .solution-num{
        color: #f18d42;
        font-size: 43px;
        font-weight: 600;
        /* line-height: 10px; */
    
    
    }
    .booster .publish{
    
        color: #5B5559;
        font-size: medium;
        line-height: 24px;
    }
    .booster .btn-post{
        margin-top: 40px;
    }
    #postuler{
        width: 150px;
        height: 40px;
        border-radius: 10px;
        font-size: 18px;
        color: #fff;
        margin-top: -10px;
        background-color:#711A50;
        border: none;
        padding: 0;
    }
    .section-boost img{
        margin-top: 30px;
    }
    footer{
        height: 300px;
    }
    .partenaire{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        height: 130px;
    }
    .partenaire img{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .kin-logo{
        height: 55px;
        margin-top: 30px !important;
    
    }
    .next-section{
        display: flex;
        flex-direction: column;
        background-color:  #FFEAC5;
        justify-content:  space-evenly;
        height: 400px;
        margin: 0;
    
    }
    .next-section .textFooter{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
       
    }
    .paterns{
        width: 752px;
        color:#5B5559;
        line-height: 24px;
        font-weight: 200;
        margin-top: 2%;
    }
    .next-section img{
        position: relative;
        margin: 0;
        height: 10%;
        margin-top: 10%;
    }
    .container-reseau{
        height: 60px;
    }
    .container-reseau .fa-brands{
    font-size: 45px;
    color: #711A50;
    margin-left: 10px;
    
    }
    .container-reseau .fa{
       display: flex;
       justify-content:flex-end;
       margin-top: 11.7%;
       margin-right: 30px;
        }
     @media screen and (max-width:1100px) {
        
     }
    @media screen and (max-width: 800px) {
       
        .section-boost{
            height: 400px;
        }
        .booster{
            width: 50%;
            margin-left: 60px;
            /* margin-right: 80px; */
        }
        .booster h1{
            font-size: 40px;
        }
        .start{
        
            font-size: 24px;
        }
        .start2{
        font-size: 24px;
        margin-top: -18px;
            
        }
        .start2 span{
            font-size: 26px;
            
    
        }
        .booster .publish{
            font-size: 15px;
            margin-top: -15px;
        }
        .btn-language{
            margin-top: 15px;
        }
        .section-boost img{
            height: 80%;
            /* margin-right: 50px; */
            margin-top: 80px;
            margin-left: -40px;
        }
        .booster .btn-post{
            margin-top: 15px;
        }
        .partenaire{
            width: 70%;
            justify-content: space-between;
        }
        .partenaire img{
          height: 60%;
          margin-left: 20px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .kin-logo{
            height: 55px !important;
          
        
        }
        .next-section .textFooter p{
            width: 85%;
            margin-top: 4%;
            
        }
        .next-section img{
            margin-top: 35%;
        }
        .container-reseau{
            margin-bottom: -28%; 
        }
        #postuler{
            width: 120px;
            margin-top: 10px;
            font-size: 15px;
        }
        .btn-language{
            margin-right: 10%;
           
        }
        header img{
           
            margin-left: 40px;
         }
    }
    

.program{
    background-color: #FFEAC5;
    text-align: center;
    padding-bottom: 4%;
}
.program-title{
    background-color: rgb(248, 250, 250);
    padding: 4%;
    font-size: 1.2rem;
}
.program-title > h2{
    color: #711A50;
    font-size: 3rem;
}
.program-title  > p {
    padding: 1%;
    color: #868278;
}
.program-content {
    padding-top: 5%;
}
.program-card {
    display: flex;
    flex-wrap: wrap ;
    gap: 4rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.card-inscription{
    border: 2px solid #EF8242;
    width: 28%;
    height: 255px;
    border-radius: 0 80px ;
    background-color: rgb(252, 247, 247);
}
.card-selection{
    border: 2px solid #EF8242;
    width: 28%;
    height: 250px;
    border-radius:  0 0 80px 80px;
    background-color: rgb(252, 247, 247);
}
.card-publication{
    border: 2px solid #EF8242;
    width: 28%;
    height: 250px; 
    border-radius: 80px 0 ;
    background-color: rgb(252, 247, 247); 
}
.card-images{
    /* display: flex; */
}
.card-inscription > .card-images-inscription > .img-inscription{
    width: 55%;
    height: 11rem;
    position: relative;
    top: 1.7rem;
}
.card-inscription > .card-images-inscription > .motif-inscription{
    transform: rotate(-0.75turn);
    position: relative;
    left: 5rem;
    height: 8rem;
    top : -13rem
} 
.card-selection > .card-images-selection > .img-selection{
    height: 11rem;
    position: relative;
    top: 1.6rem;
}
.card-selection > .card-images-selection .motif-inscription{
    transform: rotate(-0.75turn);
    position: relative;
    left: 5rem;
    height: 8rem;
    top : -13rem
}
.card-publication > .card-images-publication .img-publication{
    width: 55%;
    height: 11rem;
    position: relative;
    top: 1.6rem;
    left: 1rem;
}
.card-publication > .card-images-publication .motif-publication{
    transform: rotate(-0.75turn);
    position: relative;
   right: 45%;
    height: 8rem;
   top : -9.5rem
}
.program-card h4{
    padding-top: 15%;
    color: #5B5559;;
}
.dowload-condition{
    margin: 5% 5% 2% 5%;
}
.dowload-condition a{
    padding: 1% 3%;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #711A50;
    font-weight: 700;
    font-size: 1.7rem;
    text-decoration: none; 
}
/* .dowload-condition > button {
    padding: 1% 3%;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #711A50;
    font-weight: 700;
    font-size: 1.7rem;
} */

.dowload-condition > p {
    padding: 3%;
    color:#5B5559;
    font-size: 1rem;
}
.timer-content{
    background-color: rgb(252, 247, 247);
    border: 2px solid #EF8242; 
    width: 68%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80px 0;
    padding: 3% 0;
}
.timer-content h3{
    color: #5B5559;
    font-size: 2.5rem;  
}
.timer-content > .timer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.timer-content .timer  > img {
    transform: rotate(-0.75turn);
    position: relative;
    margin-left: -8%;
    top: 20px;
    height: 100px;
    width: 20%;
}
.timer-counter{
    display: flex;
    width: 88%;
    position: relative;
}
.day, .hour, .minutes, .second {
   display: block;
   width: 25%;
}
#day, #hour, #minutes, #second {
    font-size: 4rem;
    letter-spacing: 0.8rem;
    color: #711A50;
    font-weight: 800;
}
.day > p, .hour > p, .minutes > p {
 font-size: 1rem;
 text-align: left;
 margin-left: 19%;
 }
.timer > img {
    height: 110px;
}
form {
    padding: 4% 0;
    color: #711A50;
}
form h2{
    color: #711A50;
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 3%;
}
form input {
    display: block;
    margin: 2% 0;
    padding: 0.9% 1%;
    width: 65%;
    border: none;
    color: #711A50;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    background-color: rgb(252, 247, 247);
}
form input::placeholder {
    color: #711A50;
    font-size: 1rem;
  }
form p {
    margin: 1% 0 1% -32.5% ;
    font-weight: 800;
    font-size: 1.3rem;
}
form textarea {
    border: none;
    border-radius: 10px;
    padding: 1% 1%;
    font-size: 1rem;
    outline: none;
    color: #711A50;
    background-color: rgb(252, 247, 247);
}
form textarea::placeholder{
    color: #711A50;
    font-size: 1rem;
}
.btn-file-p{
    margin: 1% 0 1% -54% ;
    font-weight: 800;
    font-size: 1.2rem;
}
form .btn-file{
    display: none;
}
form .btn-submit{
    padding: 1% 2%;
    width: 65%;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #711A50;
    font-size: 1.2rem;
    font-weight: 800;
}
form .btn-select-file{
    width: 25%;
    padding: 1% 1%;
    border: none;
    border-radius: 20px;
    margin: 1% 0 2% 0;
    color: white;
    background-color: #711A50;
    font-weight: 800;
    font-size: 1.2rem;
}
@media screen and (max-width:780px) {
    body{
        width: 100%;
        height: 100%;
    }
    .section-boost{
        display:flex;
        flex-direction: column;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .booster{
        width: 80%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    header{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    } 
    header img{
       width: 40%;
       height: 15%;
       margin-top: 10px;
       margin-left: 6%;
     
    }
     .btn-language{
        margin-right: 1%;
        margin-top: 20px;
    }
    .booster > h1{
        font-size: 2rem;
        line-height: 5rem;
    }
    .section-boost > img {
        width: 80%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
   
    .program-title > h2{
        background-color: rgb(248, 250, 250);
        padding: 4%;
        font-size: 1.5rem;
    }
    .program-title  > p {
        font-size: 1rem;
        justify-content: center;
    }
    .program-card {
        width: 90%;
        padding: 4% 0;
    }
    .card-inscription{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .card-selection{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        
    }
    .card-publication{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .dowload-condition{
        padding: 5% 0;
    }
    .dowload-condition a{
        padding: 2% 3%;
        border-radius: 10px;
        font-size: 1rem;
    }
    .dowload-condition p{
        padding-top: 8%;
        justify-content: center;
        font-size: 0.8rem;
    }
    .timer-content{
        width: 90%;
        height: 180px;
    }
    .timer-content h3{
        font-size: 1.2rem;  
        padding-top: 4%;
    }
    .timer-content .timer  > img {
     
        display: none;
    }
    .timer-counter{
        display: flex;
        width: 90%;
        justify-content: center;
        margin-left: 10%;
    }
    .day, .hour, .minutes, .second {
    display: block;
    width: 25%;
    margin-top: 10%;
  
}
#day, #hour, #minutes, #second {
    font-size: 0.9rem;
    color: #711A50;
    font-weight: 800;
    }
    .day > p, .hour > p, .minutes > p, .second p {
     font-size: 0.4rem;
    padding-top: 5%;
    margin-left: 10%;
     }
    
     .second > p{
        font-size: 0.4rem;
        text-align: left;
        margin-left: 15%;
     }
     form h2{
        font-size: 1.6rem;
        padding-bottom: 3%;
        padding-top: 5%;
    }
    form input{
        width: 80%;
        font-size: 0.8rem;
        padding: 3%;
        margin: 5% auto;
    }
    form input::placeholder{
        font-size: 0.8rem;
    }
    form p {
        margin: 3% 0% 3% -5% ;
        font-weight: 800;
        font-size: 0.8rem;
    }
    form textarea{
        width: 80%;
        font-size: 0.8rem;
        padding: 2%;
    }
    form textarea::placeholder{
        font-size: 0.8rem;
        padding: 2%;
    }
    form .btn-file-p{
        font-weight: 800;
        font-size: 0.8rem;
       padding-left: 2%;
    }
    form .btn-submit{
        padding: 3% 2%;
        width: 80%;
        font-size: 1rem;
        font-weight: 800;
    }
    form .btn-select-file{
        width: 60%;
        padding: 2% 1%;
        border: none;
        border-radius: 20px;
        margin: 5% 0 5% 0;
        color: white;
        background-color: #711A50;
        font-weight: 800;
        font-size: 0.7rem;
    }   
}
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;700&family=Inter:wght@100;200;300&family=Poppins:wght@300;400;500;700&display=swap');







